@font-face {
    font-family: 'Whitney';
    src: url('fonts/Whitney-Medium.eot');
    src: url('fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Whitney-Medium.woff2') format('woff2'),
        url('fonts/Whitney-Medium.woff') format('woff'),
        url('fonts/Whitney-Medium.ttf') format('truetype'),
        url('fonts/Whitney-Medium.svg#Whitney-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('fonts/Whitney-Bold.eot');
    src: url('fonts/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Whitney-Bold.woff2') format('woff2'),
        url('fonts/Whitney-Bold.woff') format('woff'),
        url('fonts/Whitney-Bold.ttf') format('truetype'),
        url('fonts/Whitney-Bold.svg#Whitney-Bold') format('svg');
    font-weight: 700;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Whitney';
    font-style: normal;
}

img {
    display: block;
    margin: auto;
    height: 100%;
}

body {
    margin: 0;
}

.logo {
    width: 9%;
    height: 109px;
    text-indent: -9999px;
    background: url(img/logo.png) 50% 50% no-repeat;
    background-size: contain;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 35vw;
    /* height: 40vw; */
    overflow: auto;
    display: none;
    border: solid;
}

.modal h2 {
    margin-bottom: 44px;
}

.modal form {
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal form p {
    grid-column: 1/2;
    text-align: center;
    margin-bottom: 41px;
}

.modal form input {
    grid-column: 2/2;
    width: 91%;
    height: 22px;
    margin-left: -71px;
}

.modal .save {
    margin-left: 87%;
    margin-top: 100px
}

#modalLineadelTiempo>form>p:nth-child(3) {
    text-align: center;
    width: 78%;
}

#modalLineadelTiempo>form>input[type=text]:nth-child(4) {
    height: 100px;
    margin-left: -72px;
    margin-right: 83px;
}

.modal form .log-in {
    height: 100vh;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.log-in {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.log-in form {
    background-color: #FFF;
    width: 90%;
    height: 63%;
    border-radius: 25px;
    text-align: center;
}

.log-in form input {
    border: solid #ccc;
    border-width: 0 0 2px 0;
    width: 82%;
    margin-bottom: 38px;
}

.user {
    height: 19%;
    margin-top: 25px;
    font-size: medium;
}

.pw {
    height: 35px;
    font-size: medium;
}

.log-in a {
    color: #000;
    text-decoration: none;
}

.log-in a:hover {
    text-decoration: underline;
}

.log-in button {
    background-color: #fbd744;
    border: none;
    border-radius: 25px;
    padding: 4px;
    width: 41%;
    margin-top: 15px;
    font-size: 18px;
}

.log-in button:hover {
    padding: 3px;
}

.log-in article:nth-child(1) {
    overflow: hidden;
}

.log-in article:nth-child(1) figure {
    height: 100vh;
}

.log-in article:nth-child(1) figure img {
    width: 100%;
}

.log-in article:nth-child(2) {
    background-color: #000;
}

.log-in article:nth-child(2) div {
    margin: auto;
    width: 22vw;
    height: 38vh;
}

.log-in input:nth-child(3) {
    margin-top: 0px;
}

.log-in article:nth-child(2) figure {
    width: 10vw;
    margin: auto;
    margin-top: 5vw;
}

.log-in form p {
    margin-top: 41px;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    align-items: center;
}

header h1 {
    /* text-indent: -999px;
    display: inline-block;
    position: relative;
    background: url('img/logo.png') 0 0 no-repeat;
    margin: 1em;
    background-size: contain;
    font-size: 6em; */
    margin: 1vw;
    color: #FFF;
}

header nav {
    align-self: center;
    width: 69%;
}

header ul {
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;

}

header li {

    margin: 1vw;
    list-style: none;
    width: 100%;

}

.headerActive {
    text-decoration: underline;
}

header a {
    color: #FFF;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul .headerActive {
    text-decoration: underline;
}

h2 {
    font-size: 4vw;
    text-align: center;
    margin: 2vw;
}


.contenedor {
    padding-top: 2em;
    width: 100vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #ccc; */
}

.contenedor .element {
    border: solid #5c7039;
}

.contenedor .element,
.contenedor .anadir {
    width: 80%;
    height: 250px;
    padding: 20px;
    margin: 15px auto;
}

.contenedor .anadir figure {
    /* width: 50%; */
    height: 65%;
    margin: auto;
}

.contenedor .element figure {
    height: 65%;
}

.contenedor .element p,
.contenedor .anadir p {
    margin: 15px auto;
    text-align: center;
}

.contenedor .element textarea,
.contenedor .anadir textarea {
    display: block;
    margin: 15px auto;
}

.contenedorIconosEditarBorrar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 15px auto;
}

.contenedorIconosEditarBorrar figure {
    width: 25%;
    margin: auto;
    cursor: pointer;
}

.mascara {
    clip-path: polygon(0 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}

.manita {
    cursor: pointer;
}


#trabajadoresYfamilias form {
    grid-column: 1/4;
    margin: auto;
    border: solid;
    padding: 5em;
}

/* ----------------------------------------------- TABS ----------------------------------------------- */

.tabs {
    cursor: pointer;
    display: flex;
    justify-content: left;
    border-bottom: solid #cccccc;
    border-width: 0.5px;
    font-size: 14px;
}

[data-tab-content] {
    display: none;
}

.active {
    display: grid;
}

.active[data-tab-content] {
    display: grid;
}


.tabs :hover {
    cursor: pointer;
}

.tabs li {
    color: #000;
    border-style: solid solid none solid;
    border-width: 0.5px;
    border-color: #ccc;
    margin: 0 1em;
    padding: 1vw 4vw;
    list-style: none;
}

.tabs :hover {
    color: #fff;
    background-color: #000;

}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #000;
    color: #fff;
}

.tab:hover {
    background-color: #000;
    color: #fff;
}

.tab-content {
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 2em; */
}

.paginaHome {
    text-align: center;
}

.paginaHome p:nth-child(2) {
    margin: 5em;
}

/*----------------------------------------MODALES----------------------------------------*/
.modalReceta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 47vw;
    /* height: 44vw; */
    overflow: auto;
    display: none;
    border: solid;
}

.modalReceta form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5%;
}

.modalReceta p {
    text-align: center;
}

.titulo+input {
    grid-row: 2;
    width: 74%;
    height: 35px;
    margin-bottom: 28px;
}

.categoria+input {
    height: 26px;
}

.tiempo+input {
    grid-row: 4;
    height: 26px;
    width: 75%;
    margin-bottom: 28px;
}

.porcion+input {
    height: 23px;
}

.ingre+input {
    grid-row: 6;
    height: 139px;
    width: 82%;
    margin-bottom: 9px;
}

.varia+input {
    grid-row: 11;
    width: 83%;
    height: 85px;
}

.chef+input {
    grid-row: 11;
    height: 29px;
}

.modalReceta {
    position: absolute;
    display: none;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50vw;
    /* height: 64vw; */
    overflow: auto;
    border: solid 0.8px;
}

.modalReceta form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5%;
}


.anadirimg {
    width: 24%;
    margin: auto;
    border: solid 0.5px;
    padding: 2em 9em;
}

.anadirimg figure {
    width: 65%;
    margin: 36px auto;
}

textarea {
    border: solid 0.5px;
}

.tituloReceta+textarea {
    grid-row: 2;
    width: 81%;
    height: 23px;
    margin-bottom: 28px;
}

.categoria+textarea {
    height: 26px;
}

.tiempo+textarea {
    grid-row: 4;
    height: 26px;
    width: 81%;
    margin-bottom: 28px;
}

.porcion+textarea {
    height: 23px;
}

.ingre+textarea {
    grid-row: 6;
    height: 131px;
    width: 82%;
    margin-bottom: 32px;
}

.prep+textarea {
    height: 132px;
}

.varia+textarea {
    grid-row: 11;
    width: 83%;
    height: 137px;
}

.chef+textarea {
    grid-row: 11;
    height: 29px;
}

.save {
    text-align: center;
    margin-top: 12%;
    grid-column: 1/3;
    font-size: 66px;
    grid-row: 13;
}

.cerrar {
    font-size: 47px;
    margin-left: 2px;
}

/* Modal Agregar Categoria*/

.modalCategoria {
    position: absolute;
    display: none;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 47vw;
    /* height: 30vw; */
    overflow: auto;
    border: solid;
}

.modalCategoria form {
    display: grid;
    margin: 2.5%;
    grid-template-columns: 30% 50%;
}



.titulo {
    grid-column: 1/2;
    grid-row: 2;
    text-align: center;
}

.parrafoCategoria {
    text-align: center;
}


.titulo+input {
    grid-column: 2/2;
}

.save {
    text-align: center;
    margin-top: 12%;
    grid-column: 1/3;
    font-size: 66px;
    grid-row: 13;
}


/* Modal edita categoria */
.modalEditarCategoria {
    position: absolute;
    z-index: 2;
    display: none;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 47vw;
    height: 26vw;
    border: solid;
}

.modalEditarCategoria form {
    display: grid;
    margin: 2.5%;
    grid-template-columns: 30% 50%;
}

.tituloEditarCategoria {
    grid-column: 1/2;
    grid-row: 2;
    text-align: center;
}

.parrafoCategoria {
    text-align: center;
}

.tituloEditaCategoria {
    text-align: center;
}

.modalEditarCategoria textarea {
    height: 26px;
    grid-column: 2/2;
}

.save {
    text-align: center;
    margin-top: 12%;
    grid-column: 2/2;
    font-size: 66px;
    grid-row: 13;
}

/* Modal Adquiere nuestro producto */
.modalAdquerirProducto {
    position: absolute;
    display: none;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    overflow: auto;
    width: 40vw;
    /* height: 38vw; */
    border: solid;
}

.modalAdquerirProducto h2 {
    font-size: 30px;
}

.parrafoAdquerir {
    text-align: center;
}

.anadirimgsucursal {
    height: 10vw;
    width: 23%;
    margin: auto;
    border: solid 0.5px;
    padding: 2em 9em;
}

.tituloAdquerir {

    text-align: center;
}

.tituloAdquerir+textarea {
    margin-left: 31%;
    height: 18px;
    width: 40%;
}

/* Modal Carrusel */
.modalCarrusel {
    position: absolute;
    display: none;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 47vw;
    overflow: auto;
    /* height: 40vw; */
    border: solid;
}

.modalCarrusel h2 {
    font-size: 30px;
}

.anadirimgsucursal {
    height: 10vw;
    width: 23%;
    margin: auto;
    border: solid 0.5px;
    padding: 2em 9em;
}

.tituloCarrusel {
    text-align: center;
}

.tituloCarrusel+textarea {
    margin-left: 31%;
    height: 48px;
    width: 40%;
}

/* IMG DE PRODCUTOS */
.modalimgproductos {
    position: absolute;
    display: none;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 43vw;
    height: 38vw;
    border: solid;
}

.modalimgproductos h2 {
    font-size: 30px;
}

.anadirimgsucursal {
    height: 10vw;
    width: 23%;
    margin: auto;
    border: solid 0.5px;
    padding: 2em 9em;
}

.titulodescrip {
    text-align: center;
    margin-top: 25px;
}

.parrafodescrip {
    text-align: center;
}

.titulodescrip+textarea {
    margin-left: 31%;
    height: 48px;
    width: 40%;
}

/* Nuestro Equipo */
.modalequipo {
    position: absolute;
    display: none;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 43vw;
    /* height: 51vw; */
    overflow: auto;
    border: solid;
}

.modalimgproductos h2 {
    font-size: 30px;
}

.anadirimgsucursal {
    height: 10vw;
    width: 23%;
    margin: auto;
    border: solid 0.5px;
    padding: 2em 9em;
}

.modalequipo form {
    margin: 2.5%;
}

.titulodescrip {
    text-align: center;
    margin-top: 25px;
}

.parrafodescrip {
    text-align: center;
}

.titulodescrip+textarea {
    margin-left: 31%;
    height: 110px;
    width: 40%;
}

.modalequipo form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descripcargo {
    grid-column: 1/3;
}

.titulodescrip+textarea {
    margin: auto;
    display: block;
}

.cargo textarea {
    height: 22px;
}

.nombretrab textarea {
    height: 22px;
}

.save {
    grid-column: 1/3;
}