* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.log-in {
    height: 100vh;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.log-in form {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
}

.log-in form input {
    border: solid #ccc;
    border-width: 0 0 2px 0;
    width: 85%;
}

.log-in a {
    color: #000;
    text-decoration: none;
}

.log-in a:hover {
    text-decoration: underline;
}

.log-in button {
    background-color: #fbd744;
    border: none;
    border-radius: 25px;
    padding: 4px;
    width: 65%;
    font-size: 18px;
}

.log-in button:hover {
    padding: 3px;
}

.log-in article:nth-child(1) {
    overflow: hidden;
}

.log-in article:nth-child(1) figure {
    height: 100vh;
}

.log-in article:nth-child(1) figure img {
    width: auto;
}

.log-in article:nth-child(2) {
    background-color: #000;
}

.log-in article:nth-child(2) div {
    margin: auto;
    width: 25vw;
    height: 25vh;
}

.log-in article:nth-child(2) figure {
    width: 10vw;
    margin: auto;
    margin-top: 5vw;
}


header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

header h1 {
    /* text-indent: -999px;
    display: inline-block;
    position: relative;
    background: url('img/logo.png') 0 0 no-repeat;
    margin: 1em;
    background-size: contain;
    font-size: 6em; */

    margin: 1vw;
    color: #FFF;
}

header nav {
    align-self: center;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header li {

    margin: 1vw;
    list-style: none;
    width: 100%;

}

/* header li:hover {
    background: #000;
    color: #FFF;
} */

header a {
    color: #FFF;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul .headerActive {
    text-decoration: underline;
}

h2 {
    font-size: 4vw;
    text-align: center;
    margin: 2vw;
}

.tabs {
    display: flex;
    justify-content: left;
    border-bottom: solid #cccccc;
    border-width: 0.5px;
    font-size: 14px;
}

.tabs li {
    color: #000;
    border-style: solid solid none solid;
    border-width: 0.5px;
    border-color: #ccc;
    margin: 0 1em;
    padding: 1vw 4vw;
    list-style: none;
}

.tabs :hover {
    color: #FFF;
    background-color: #000;

}

.contenedor {
    width: 95vw;
    /* border-style: none solid solid solid; */
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor .element,
.contenedor .anadir {
    width: 70%;
    margin: auto;
    text-align: center;

}

.contenedor .anadir figure {
    width: 50%;
    margin: auto;
}

.mascara {
    clip-path: polygon(0 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}